@media (prefers-color-scheme: light) {
  :root {
    --main-bg: white;
    --main-fg: #111;
    --link-fg: #AD1A72;
    --link-bg: #F4DFEB;
    --scnd-bg: #efefef;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-bg: #111;
    --main-fg: #eee;
    --link-fg: #e92e9e;
    --link-bg: #2e1724;
    --scnd-bg: #222;
  }

img {
    opacity: .75;
    transition: opacity .5s ease-in-out;
  }
  img:hover {
    opacity: 1;
  }
}

a {
  color: var(--main-fg);
  border-bottom: 1px solid var(--link-fg);
}

summary {
  color: var(--link-fg);
  cursor: pointer;
}

body {
  background: var(--main-bg);
  color: var(--main-fg);
}

pre {
  background: var(--scnd-bg);
}

code {
  background: var(--scnd-bg);
}

pre > code {
  background: transparent;
}

nav {
  border-top: 1px solid var(--main-fg);
  border-bottom: 2px solid var(--main-fg);
}
